@media only screen and (max-width: 1000px) and (min-width: 320px) {
  ul.yel-list li img {
    max-width: 24px;
  }

  section.call-us-banner {
    text-align: center;
    padding: 30px 0;
  }

  section.call-us-banner h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 600;
  }

  section.call-us-banner ul li {
    margin-bottom: 33px;
    padding-left: 44px;
    width: 100%;
    margin-left: 0;
    font-size: 17px;
  }

  section.call-us-banner ul {
    margin-top: 33px;
  }

  section.call-us-banner ul li i img {
    max-width: 32px;
  }

  .banner-subtitle {
    font-size: 15px;
    color: #fff;
    width: 80%;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    line-height: 28px;
  }

  .banner a.chat.grad-btn {
    font-size: 13px;
    padding: 11px 20px;
    margin-top: 13px;
  }

  header {
    z-index: 9;
  }

  .logodiv {
    text-align: center;
    width: 100%;
  }

  section.banner h1 {
    margin: 20px 0 0;
    font-size: 28px;
  }

  section.banner ul.yel-list li {
    width: 100%;
    font-size: 12px;
  }

  .banner-form {
    width: 100%;
  }

  section.banner h3 {
    font-size: 19px;
    line-height: 20px;
  }

  section.helpingbrand {
    padding: 20px 0;
  }

  section.helpingbrand h2 {
    font-size: 22px;
    margin: 0 0 10px;
  }

  section.helpingbrand p {
    padding: 0;
  }

  section.helpingbrand ul li {
    width: 100%;
    margin-bottom: 20px;
  }

  section.numbers {
    padding: 20px 0;
  }

  section.numbers h2 {
    font-size: 24px;
    line-height: 27px;
    margin: 0 0 20px;
  }

  section.numbers h2 + p {
    padding: 0;
  }

  section.numbers ul li {
    width: 100%;
    padding: 40px 20px;
    margin: 0 0 20px;
  }

  section.numbers ul li i {
    position: relative;
    top: 0;
    display: block;
    margin-bottom: 20px;
  }

  section.numbers ul li {
  }

  section.numbers ul li img.aut-img {
  }

  section.numbers ul li h3 {
    font-size: 19px;
  }

  section.cform-section {
    padding: 20px 0 17px;
  }

  section.cform-section h2 + p {
    padding: 0;
    font-size: 13px;
  }

  section.cform-section form ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  section.cform-section form ul li:last-child {
    width: 50%;
  }

  section.cform-section form ul li textarea {
    min-height: 100px;
    margin: 0;
  }

  header ul li span:before,
  span:after {
    display: none;
  }

  section.banner a {
  }

  img.logo-img {
    display: block;
    margin: 0 auto;
    max-width: 210px;
    z-index: 5;
    position: relative;
  }

  footer img.logo-img {
    display: none;
  }
  .contact-sec {
    position: relative;
    right: 0;
    display: none;
  }
  .contact-sec a + a {
    border: none;
    font-size: 11px;
  }

  .contact-sec a {
    width: 240px;
    /* float: left; */
    margin: 0 auto;
  }

  .contact-sec span {
    width: 50%;
    float: left;
    top: 10px;
    position: relative;
    border: none !important;
  }

  section.banner h2 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 24px;
  }

  section.banner {
    padding: 100px 20px 30px 20px;
    font-size: 13px;
    line-height: 22px;
    height: auto;
    text-align: center;
  }

  section.banner br {
    display: none;
  }

  section.services {
    padding: 20px 0;
  }
  section.services h3 {
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  section.services h3 br {
    display: none;
  }

  section.services h3:after {
    bottom: 4px;
    top: inherit;
  }

  footer {
    text-align: center;
    padding-bottom: 40px !important;
  }
  .contact-sec span {
    border: none;
  }

  section.cform-section h2 {
    margin-bottom: 12px;
    font-size: 23px;
  }

  section.cform-section form {
    width: 100%;
  }
}
